<head>
  <title>Редактирование пользователя</title>
</head>
<br>
<div class="form-panel one background_color_body" style="border-radius: 5px">
  <div class="form-header">
    <h1>Редактирование пользователя</h1>
  </div>
  <br>
  <div class="form-group">
    <label for="last_name">Фамилия</label>
    <input id="last_name" type="text" name="last_name" value="{{currentUser.last_name}}"
           [(ngModel)]="currentUser.last_name" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="first_name">Имя</label>
    <input id="first_name" type="text" name="first_name" value="{{currentUser.first_name}}"
           [(ngModel)]="currentUser.first_name" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="middle_name">Отчество</label>
    <input id="middle_name" type="text" name="middle_name" value="{{currentUser.middle_name}}"
           [(ngModel)]="currentUser.middle_name" style="background-color: #ededed">
  </div>

  <div *ngIf="userRole != 'CHIEF'">
    <div class="form-group">
      <label for="doctor_selector">Роль</label>
      <br>
      <select [(ngModel)]="selected" (change)="valueChange($event)" id="doctor_selector" name="doctor_selector"
              style="color: rgba(0, 0, 0, 0.6); background-color: #ededed; width: 100%; border-radius: 4px; height: 50px; border: none; padding-left: 20px">
        <option *ngFor="let type of typeSearch"
                [value]="type" [selected]="type == selected">
          {{ type }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Почта</label>
    <input id="email" type="text" name="email" value="{{currentUser.email}}"
           [(ngModel)]="currentUser.email" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="phone">Телефон</label>
    <input id="phone" type="text" name="phone" value="{{currentUser.phone}}"
           [(ngModel)]="currentUser.phone" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="login">Логин</label>
    <input id="login" type="text" name="login" value="{{currentUser.login}}"
           [(ngModel)]="currentUser.login" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="password">Пароль </label>
    <input id="password" type="text" name="password" value="***" style="background-color: #ededed">
  </div>
</div>
<br>
<div class="text-center">
  <button
    type="submit"
    class="btn btn-info mb-2 text-center"
    name="save"
    (click)="editDoctor()"
    style="min-width: 10%; margin-right: 50px"
  >
    Сохранить
  </button>
  <button
    type="submit"
    class="btn btn-info mb-2 text-center"
    name="edit_password"
  >
    Отдельно изменить пароль
  </button>
</div>
<div *ngIf="gotMessage">
  <div style="padding-top: 20px" class="text-center">
    <h4>
      <label style="color: lawngreen">{{ message }} </label>
    </h4>
  </div>
</div>
<br><br>
