<head>
  <title>Редактирование пациента</title>
</head>
<br>
<div class="form-panel one background_color_body" style="border-radius: 5px">
  <div class="form-header">
    <h1>Редактирование пациента</h1>
  </div>
  <br>
  <div class="form-group">
    <label for="last_name">Фамилия</label>
    <input id="last_name" type="text" name="last_name" value="{{currentPatient.last_name}}"
           [(ngModel)]="currentPatient.last_name" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="first_name">Имя</label>
    <input id="first_name" type="text" name="first_name" value="{{currentPatient.first_name}}"
           [(ngModel)]="currentPatient.first_name" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="middle_name">Отчество</label>
    <input id="middle_name" type="text" name="middle_name" value="{{currentPatient.middle_name}}"
           [(ngModel)]="currentPatient.middle_name" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="email">Почта</label>
    <input id="email" type="text" name="email" value="{{currentPatient.email}}"
           [(ngModel)]="currentPatient.email" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="phone">Телефон</label>
    <input id="phone" type="text" name="phone" value="{{currentPatient.phone}}"
           [(ngModel)]="currentPatient.phone" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="date">Дата рождения</label>
    <input id="date" type="date" name="date" value=""
           [(ngModel)]="currentPatient.date_of_birth" style="background-color: #ededed">
  </div>
  <div *ngIf="userRole != 'DOCTOR'">
    <div class="form-group">
      <label for="doctor_selector">Лечащий врач</label>
      <br>
      <select [(ngModel)]="selected" (change)="valueChange($event)" id="doctor_selector" name="doctor_selector"
              style="color: rgba(0, 0, 0, 0.6); background-color: #ededed; width: 100%; border-radius: 4px; height: 50px; border: none; padding-left: 20px">
        <option *ngFor="let type of doctors"
                [value]="type" [selected]="type == selected">
          {{ type }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="userRole != 'OPERATOR'">
    <div *ngIf="isPhotoExists; else addPhoto">
      <div class="form-group">
        <label for="diagnosis"><br><br>Диагноз</label>
        <textarea id="diagnosis" name="text" wrap="soft" maxlength="9970"
                  style="color: rgba(0, 0, 0, 0.6); border: none; padding-left: 20px; border-radius: 4px; background-color: #ededed; width: 100%; height: 5%; overflow:hidden;"
                  [(ngModel)]="photo.diagnosis"></textarea>
      </div>
      <!--      <div class="form-group">todo-->
      <!--        <label>Изобаржение</label> &lt;!&ndash;for="photo"&ndash;&gt;-->
      <!--        Изображение загруженное-->
      <!--      </div>-->
    </div>
    <br><br>
    <ng-template #addPhoto>
      <div class="text-center">
        <a href="/load_image/"
           type="submit"
           style="min-width: 10%; margin-right: 50px;"
           class="btn btn-outline-dark text-center"
        >
          Добавьте фото
        </a>
      </div>
    </ng-template>
  </div>
</div>
<br>
<div class="text-center">
  <button
    type="submit"
    class="btn btn-info mb-2 text-center"
    name="save"
    (click)="editPatient('message_modal')"
    style="min-width: 10%; margin-right: 50px"
  >
    Сохранить
  </button>
</div>
<br><br>
<jw-modal id="message_modal">
  <div class="text-center">
    <label style="margin-top: 10px"> {{ message }} </label>
    <br>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('message_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Закрыть
    </button>
  </div>
</jw-modal>
