<head>
  <title>Редактирование пациента</title>
</head>
<br>
<div class="form-panel one background_color_body" style="border-radius: 5px">
  <div class="form-header">
    <h1>Редактирование пациента</h1>
  </div>
  <br>
<!--  <input [(ngModel)]="text" (input)="change($event)">-->
<!--  <div>the input value is : {{text}}</div>-->

  <div class="form-group">
    <label for="last_name">Фамилия</label>
    <input id="last_name" type="text" name="last_name" value="{{currentPatient.last_name}}"
           [(ngModel)]="currentPatient.last_name" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="first_name">Имя</label>
    <input id="first_name" type="text" name="first_name" value="{{currentPatient.first_name}}"
           [(ngModel)]="currentPatient.first_name" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="middle_name">Отчество</label>
    <input id="middle_name" type="text" name="middle_name" value="{{currentPatient.middle_name}}"
           [(ngModel)]="currentPatient.middle_name" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="email">Электронная почта</label>
    <input id="email" type="text" name="email" value="{{currentPatient.email}}"
           [(ngModel)]="currentPatient.email" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="phone">Телефон</label>
    <input id="phone" type="text" name="phone" value="{{currentPatient.phone}}"
           [(ngModel)]="currentPatient.phone" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="date">Дата рождения</label>
    <input id="date" type="date" name="date" value=""
           [(ngModel)]="currentPatient.date_of_birth" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div *ngIf="userRole != 'DOCTOR'">
    <div class="form-group">
      <label for="doctor_selector">Лечащий врач</label>
      <br>
      <select [(ngModel)]="selected" (change)="valueChange($event)" id="doctor_selector" name="doctor_selector"
              style="color: rgba(0, 0, 0, 0.6); background-color: #ededed; width: 100%; border-radius: 4px; height: 50px; border: none; padding-left: 20px" (input)="change($event)">
        <option *ngFor="let type of doctors"
                [value]="type" [selected]="type == selected">
          {{ type }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="userRole != 'OPERATOR'">
    <br> <br>
    <div *ngIf="isPhotoExists; else addPhoto">
      <div class="text-center">
        <button
          type="submit"
          name="show_all"
          style="min-width: 10%; "
          class="btn btn-outline-dark text-center"
          (click)="openModal('change_image_instance_modal')"
        >
          Редактировать фото
        </button>
      </div>
    </div>
    <ng-template #addPhoto>
      <div class="text-center">
        <a href="/load_image/"
           type="submit"
           style="min-width: 10%; margin-right: 50px;"
           class="btn btn-outline-dark text-center"
        >
          Добавьте фото
        </a>
      </div>
    </ng-template>
  </div>
</div>
<br>
<div class="text-center">
  <button
    type="submit"
    class="btn btn-info mb-2 text-center"
    name="save"
    (click)="editPatient('message_modal')"
    style="min-width: 10%;"
  >
    Сохранить
  </button>
</div>
<br><br>
<jw-modal id="message_modal">
  <div class="text-center">
    <label style="margin-top: 10px"> {{ message }} </label>
    <br>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('message_modal');"
      style="width: 140px;"
    >
      Закрыть
    </button>
  </div>
</jw-modal>


<jw-modal id="change_image_instance_modal">
  <h3 class="form-header">Изменение изображения</h3>
  <div class="form-group">
    <label for="diagnosis"><br><br>Диагноз</label>
    <textarea id="diagnosis" name="text" wrap="soft" maxlength="9970"
              style="color: rgba(0, 0, 0, 0.6); border: none; padding-left: 20px; border-radius: 4px; background-color: #ededed; width: 100%; height: 5%; overflow:hidden;"
              [(ngModel)]="photo.diagnosis" (input)="change_photo($event)"></textarea>
  </div>
    <label for="img" class="exc_img">Изображение<br></label>
    <div *ngIf="imagePath; else noImage">
      <img id="img" [src]="imagePath" style="height: 100%; max-width: 100%;  display:block; margin:auto;">
    </div>
    <ng-template #noImage>
      <br>
      Файл формата .dcm отобразится только после загрузки
    </ng-template>
  <div *ngIf="gotSuccess; else errorTemplate">
    <label style="color: #00e811; width: 100%" class="text-center"> {{message}} </label>
  </div>
  <ng-template #errorTemplate>
    <label style="color: red; width: 100%" class="text-center"> {{message}} </label>
  </ng-template>

  <label for="file-upload" class="btn btn-info mb-2" style="margin-right: 20px">
    Обзор...
  </label>
  <input id="file-upload" type="file" (change)="selectFile($event)"/>
  <label *ngIf="file_name != ''" style="font-size: 20px"> Выбранный файл: {{ file_name }} </label>

  <div class="text-center">
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="saveImageInstance('change_image_instance_modal')"
      style="width: 140px; margin-left: 5px"
    >
      Сохранить
    </button>
    <button
      type="submit"
      class="btn btn-outline-danger mb-2 text-center"
      name="save"
      (click)="close_edit_photo('change_image_instance_modal');"
      style="width: 140px; margin-left: 5px"
    >
      Закрыть
    </button>
  </div>
</jw-modal>
