<head>
  <title>Список пациентов</title>
</head>
<body>
<br><br>
<div>
  <h3 style="text-align: center;"> Список пациентов
    <li class="my-button add-but">
      <a routerLink="/create_patient/">
        <img class="img-responsive" width="50px" src="assets/images/add.png">
      </a>
    </li>
  </h3>
  <br><br>
  <div *ngIf="!peopleIsNull">
    <div *ngFor="let pat of patients; let i = index" [class.active]="i == selectedPatient" >
      <div class="list-group-item text-capitalize list-item border-gradient" (click)="gotoPatient(pat)">
        {{ pat.last_name }} {{ pat.first_name }} {{ pat.middle_name }}
      </div>
      <div>
        <img (click)="delete(pat.id)" style="float: right; margin-top: 0.5%;" class="img-responsive" width="45px"
             src="assets/images/remove.png">
      </div>
    </div>
  </div>

  <div *ngIf="peopleIsNull">
    <label>NO CONTENT</label>
  </div>
</div>
</body>
