.list-item {
  width: 95%;
  border-width: 4px;
  box-shadow: 0 0 5px 2px #e5e5e5;
  float: left;
  font-size: 20px;
  margin-bottom: 10px;
}

.border-gradient {
  -moz-border-image: -moz-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  -webkit-border-image: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  border-image-slice: 1;
}

.my-button {
  float: right;
  width: 3%;
  background-color: transparent;
  border: none;
  list-style-type: none;
}

.edit-button {
  min-width: 10%;
  top: 95%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.workplace {
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border-radius: 5px;
  margin-bottom: 0;
  width: 100%;
  left: 0;
}
