<head>
  <title>Пользователь</title>
</head>
<div class="split left">
  <div class="pos">
    <h4 class="text-capitalize"><b>{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</b></h4>
    <p> Должность: {{role}} </p>
    <br>
    <h4><b>Контакты</b></h4>
    <p>Телефон: {{ user.phone }}</p>
    <p>Почта: {{ user.email }}</p>
  </div>
  <div>
    <a button href="/edit_user/{{ user.id }}"
       type="submit"
       class="btn btn-light mb-2 text-center edit-button"
    >
      Редактировать
    </a>
  </div>
</div>

<div class="split right">
  <div class="pos">
    <div style="padding-bottom: 4%; width: 99.5%;">

      <div *ngIf="user.role=='OPERATOR'; else operatorTitle">
        <h3 style="float: left; "> Список всех пациентов </h3>
      </div>
      <ng-template #operatorTitle>
        <h3 style="float: left; "> Список пациентов </h3>
      </ng-template>

      <div *ngIf="currentUserRole != 'ADMIN'">
        <li class="my-button add-but">
          <a routerLink="/create_patient/">
            <img class="img-responsive" width="50px" src="assets/images/add.png">
          </a>
        </li>
      </div>
    </div>
    <br>
    <div *ngIf="!peopleIsNull; else noPatients">
      <div *ngFor="let pat of patients; let i = index" [class.active]="i == selectedPatient">
        <div class="list-group-item text-capitalize nested-list-item border-gradient"
             style="float: left; margin-bottom: 5px" (click)="gotoPatient(pat)">
          {{ pat.last_name }} {{ pat.first_name }} {{ pat.middle_name }}
        </div>
        <div *ngIf="currentUserRole == 'CHIEF'">
          <img (click)="open(pat.id, pat.last_name, pat.first_name, pat.middle_name, 'confirmation_modal')"
               style="float:right; margin-top: 0.5%;" class="img-responsive"
               width="45px"
               src="assets/images/remove.png">
        </div>
      </div>
    </div>
    <ng-template #noPatients>
      <label>Пациентов нет. </label>
      <div *ngIf="currentUserRole == 'CHIEF'">
        <label> Чтобы создать пациентов нажмите на <img class="img-responsive" width="15px"
                                                        src="assets/images/add.png"></label>
      </div>
    </ng-template>
  </div>
</div>

<jw-modal id="confirmation_modal">
  <label> Вы уверены, что хотите удалить из базы человека с именем "{{message}}"? </label>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-outline-danger mb-2 text-center"
      name="save"
      (click)="remove('message_modal', 'confirmation_modal')"
      style="width: 140px; "
    >
      Удалить
    </button>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('confirmation_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Отменить
    </button>
  </div>
</jw-modal>

<jw-modal id="message_modal">
  <div class="text-center">
    <label style="margin-top: 10px"> {{ message }} </label>
    <br>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('message_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Закрыть
    </button>
  </div>
</jw-modal>
