<head>
  <title>Обработка изображения</title>
</head>

<div class="split left" style="background: white; width: 55%; min-height: 600px">

  <label style="margin-left: 5%; margin-top: 15px; "><b> Выбранный файл: {{ file_name }} <br/>Время
    создания: {{dateToScreen}}</b></label>
  <hr>

  <ngx-file-drop dropZoneLabel="Перенесите нужный файл"
                 [multiple]="false"
                 (onFileDrop)="dropped($event)"
                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                 dropZoneClassName="filedrop"
  >
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div style="margin-right: auto; margin-left: auto; position: absolute; text-align: center; width: 100%;">
        <button type="button" class="btn btn-info" (click)="openFileSelector()">
          Выберите
        </button>
        <br>
        или перетащите файл
        <div class="image-div">
          <img [src]="imagePath" style="vertical-align: middle; width: 87%;">
        </div>
      </div>
    </ng-template>
  </ngx-file-drop>


  <div class="section" style="height: 10%">
    <button
      type="submit"
      class="btn btn-info mb-2 text-center edit-button"
      (click)="loadImage('message_modal')"
      style="min-width: 10%; margin-right: 50px"
      [disabled]="!currentFile"
    >
      Загрузить
    </button>
  </div>
</div>
<div class="split right" style="width: 40%; min-height: 600px">
  <div class="pos">
    <h3>Результат обработки:</h3>
    <input type="text" readonly style="width: 100%; min-height: 30px; margin-bottom: 5%" class="diagnosis"
           value="{{diagnosis}}">
    <div class="form-group">
      <label for="doctor_selector">Выберите пациента из списка:</label>
      <br>
      <select class="form-control" [(ngModel)]="selected" (change)="valueChange($event)" id="doctor_selector"
              name="doctor_selector">
        <option *ngFor="let type of patientsList"
                [value]="type" [selected]="type == selected">
          {{ type }}
        </option>
      </select>
    </div>
    <label>Диагноз: </label> <br>
    <textarea name="text" wrap="soft" maxlength="9970"
              style="width: 100%; overflow:hidden; resize:none; overflow-y: scroll; min-height: 230px"
              [(ngModel)]="custom_diagnosis"></textarea>
  </div>
  <div style="margin-right: 50px; ">
    <div>
      <button
        type="submit"
        class="btn btn-info mb-2 text-center edit-button"
        name="save"
        [disabled]="!saved"
        (click)="download()"
      >
        Скачать выписку
      </button>
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-info mb-2 text-center edit-button1"
        name="save"
        [disabled]="!diagnosis"
        (click)="saveDiagnosis('message_modal')"

      >
        Сохранить
      </button>
    </div>
  </div>
</div>

<jw-modal id="message_modal">
  <div class="text-center">
    <label style="margin-top: 10px"> {{ message }} </label>
    <br>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('message_modal');"
      style="width: 140px;"
    >
      ОК
    </button>
  </div>
</jw-modal>

<div class="my-container">
  <ng-template #customLoadingTemplate>
  </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '5px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
</div>
