<nav class="navbar navbar-expand-sm navbar-light" id="main_navbar" *ngIf="showNav"
     style="background: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);">
  <a class="navbar-brand" style="color: black">@Med</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="container">
        <div class="element-1">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a routerLink="/main/" class="nav-link" style="color: black"> Главная</a>
          </li>
        </div>
        <div *ngIf="role == 'ADMIN' || role == 'CHIEF'" class="element-2">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a routerLink="/create_user/" class="nav-link" style="color: black">Создать пользователя</a>
          </li>
        </div>
        <div *ngIf="role == 'CHIEF' || role == 'DOCTOR'" class="element-3">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a routerLink="/load_image/" class="nav-link" style="color: black"> Обработка изображения</a>
          </li>
        </div>
        <div *ngIf="role == 'OPERATOR'" class="element-2">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a routerLink="/create_patient/" class="nav-link" style="color: black">Создать пациента</a>
          </li>
        </div>
        <br>
        <div *ngIf="role == 'CHIEF'" class="element-4">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a routerLink="/patients/" class="nav-link" style="color: black">Пациенты</a>
          </li>
        </div>
      </div>
    </ul>

    <div *ngIf="wdth < 500">
      <hr style="width: 100%; border-width: 1px; background-color: black">
    </div>
    <ul class="navbar-nav">
      <div class="container">
        <div class="element-1">
          <li [routerLinkActive]="['active']">
            <a routerLink='/profile/'>
              <img src="assets/images/profile.png" class="img-fluid" style="max-width: 40px;">
            </a>
          </li>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="element-2">
          <li [routerLinkActive]="['active']">
            <img src="assets/images/exit.png" class="img-fluid"
                 (click)="openModal('confirmation_modal_logout')"
                 style="cursor: pointer; float: right; max-width: 40px;">
          </li>
        </div>
      </div>
    </ul>
  </div>
</nav>


<jw-modal id="confirmation_modal_logout">
  <div style="text-align: center">
    <label> Вы уверены, что хотите выйти? </label>
  </div>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-outline-danger mb-2 text-center"
      name="save"
      (click)="logout('confirmation_modal_logout')"
      style="width: 140px; margin-left: 10px"
    >
      Выйти
    </button>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('confirmation_modal_logout');"
      style="width: 140px; margin-left: 10px"
    >
      Отменить
    </button>
  </div>
</jw-modal>


<div class="container mt-3" (window:resize)="onResize($event)">
  <router-outlet></router-outlet>
</div>
<!--container mt-3-->
