<head>
  <title>Мой профиль</title>
</head>
<br>
<div class="form-panel one background_color_body" style="border-radius: 5px">
  <div class="form-header">
    <h1>Мой профиль</h1>
  </div>
  <br>
  <div class="form-group">
    <label for="last_name">Фамилия</label>
    <input id="last_name" type="text" name="last_name" value="{{currentUser.last_name}}"
           [(ngModel)]="currentUser.last_name" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="first_name">Имя</label>
    <input id="first_name" type="text" name="first_name" value="{{currentUser.first_name}}"
           [(ngModel)]="currentUser.first_name" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="middle_name">Отчество</label>
    <input id="middle_name" type="text" name="middle_name" value="{{currentUser.middle_name}}"
           [(ngModel)]="currentUser.middle_name" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="email">Почта</label>
    <input id="email" type="text" name="email" value="{{currentUser.email}}"
           [(ngModel)]="currentUser.email" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="phone">Телефон</label>
    <input id="phone" type="text" name="phone" value="{{currentUser.phone}}"
           [(ngModel)]="currentUser.phone" style="background-color: #ededed" (input)="change($event)">
  </div>
  <div class="form-group">
    <label for="login">Логин</label>
    <input id="login" type="text" name="login" value="{{currentUser.login}}"
           [(ngModel)]="currentUser.login" style="background-color: #ededed" (input)="change($event)">
  </div>
</div>
<br>
<div class="text-center">
  <button
    type="submit"
    class="btn btn-info mb-2 text-center"
    name="save"
    (click)="editDoctor('message_modal')"
    style="min-width: 15%; margin-right: 50px"
  >
    Сохранить
  </button>
  <button
    type="submit"
    class="btn btn-info mb-2 text-center"
    name="edit_password"
    (click)="openModal('change_password_modal')"
    style="min-width: 15%;"
  >
    Изменить пароль
  </button>
</div>
<br><br>

<jw-modal id="message_modal">
  <div class="text-center">
  <label style="margin-top: 10px"> {{ message }} </label>
  <br>
  <button
    type="submit"
    class="btn btn-outline-info mb-2 text-center"
    name="save"
    (click)="closeModal('message_modal');"
    style="width: 140px; margin-left: 20px"
  >
    Закрыть
  </button>
  </div>
</jw-modal>

<jw-modal id="change_password_modal">
  <h1 class="form-header">Изменение пароля</h1>
  <div class="form-group">
    <label for="password">Старый пароль</label>
    <input id="password" type="text" name="password" [(ngModel)]="password" style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="new_password">Новый пароль</label>
    <input id="new_password" type="text" name="new_password" [(ngModel)]="new_password"
           style="background-color: #ededed">
  </div>
  <div class="form-group">
    <label for="new_password_repeat">Повторите новый пароль</label>
    <input id="new_password_repeat" type="text" name="new_password_repeat" [(ngModel)]="new_password_repeat"
           style="background-color: #ededed">
  </div>
  <div *ngIf="gotSuccess; else errorTemplate">
    <label style="color: #00e811; width: 100%" class="text-center"> {{message}} </label>
  </div>
  <ng-template #errorTemplate>
    <label style="color: red; width: 100%" class="text-center"> {{message}} </label>
  </ng-template>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="changePassword('change_password_modal')"
      style="width: 140px; "
    >
      Сохранить
    </button>
    <button
      type="submit"
      class="btn btn-outline-danger mb-2 text-center"
      name="save"
      (click)="closeModal('change_password_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Закрыть
    </button>
  </div>
</jw-modal>
