<head>
  <title>Главная страница</title>
</head>
<body>
<br><br>

<div>
  <div *ngIf="userRole=='ADMIN' || userRole=='CHIEF'; else patientsTemplate">
    <h3 style="text-align: center;">
      {{ header }}
      <li class="my-button add-but">
        <a routerLink="/create_user/">
          <img class="img-responsive" width="50px" src="assets/images/add.png">
        </a>
      </li>
    </h3>
    <br><br>
    <div *ngIf="!peopleIsNull">
      <div *ngFor="let doc of doctors; let i = index" [class.active]="i == selectedDoctor">
        <div class="list-group-item list-item border-gradient" (click)="gotoDoctor(doc)">
          {{ doc.last_name }} {{ doc.first_name }} {{ doc.middle_name }}
          <div *ngIf="userRole=='ADMIN'" style="float: right"> {{ roleTo(doc.role!) }} </div>
        </div>
        <div>
          <img (click)="delete(doc.id, doc.last_name, doc.first_name, doc.middle_name, 'message_modal')" style="float: right; margin-top: 0.5%;" class="img-responsive" width="45px"
               src="assets/images/remove.png">
        </div>
      </div>
    </div>
  </div>
  <ng-template #patientsTemplate>
    <h3 style="text-align: center;"> Список пациентов
      <li class="my-button add-but">
        <a routerLink="/create_patient/">
          <img class="img-responsive" width="50px" src="assets/images/add.png">
        </a>
      </li>
    </h3>
    <br><br>
    <div *ngIf="!peopleIsNull">
      <div *ngFor="let pat of patients; let i = index" [class.active]="i == selectedPatient">
        <div class="list-group-item text-capitalize list-item border-gradient" (click)="gotoPatient(pat)">
          {{ pat.last_name }} {{ pat.first_name }} {{ pat.middle_name }}
        </div>
        <div>

          <img (click)="open(pat.id, pat.last_name, pat.first_name, pat.middle_name, 'confirmation_modal')" style="float: right; margin-top: 0.5%;" class="img-responsive" width="45px"
               src="assets/images/remove.png">

<!--          (click)="delete(pat.id, pat.last_name, pat.first_name, pat.middle_name, 'message_modal')"-->

        </div>
      </div>
    </div>
  </ng-template>
  <div *ngIf="peopleIsNull">
    <label>NO CONTENT</label>
  </div>
</div>
</body>
<jw-modal id="confirmation_modal">
  <label> Вы уверены, что хотите удалить из базы человека с именем "{{message}}"? </label>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-outline-danger mb-2 text-center"
      name="save"
      (click)="remove('message_modal', 'confirmation_modal')"
      style="width: 140px; "
    >
      Удалить
    </button>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('confirmation_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Отменить
    </button>
  </div>
</jw-modal>

<jw-modal id="message_modal">
  <div class="text-center">
  <label style="margin-top: 10px"> {{ message }} </label>
  <br>
  <button
    type="submit"
    class="btn btn-outline-info mb-2 text-center"
    name="save"
    (click)="closeModal('message_modal');"
    style="width: 140px; margin-left: 20px"
  >
    Закрыть
  </button>
  </div>
</jw-modal>
