<head>
  <title>Главная страница </title>
</head>
<body>
<br><br>
<div style="width: 100%;">
  <div *ngIf="userRole=='ADMIN' || userRole=='CHIEF'; else patientsTemplate">
    <h3 style="text-align: center;">
      {{ header }}
      <li class="my-button add-but">
        <a routerLink="/create_user/">
          <img class="img-responsive" width="50px" style="margin-top: -5px;" src="assets/images/add.png">
        </a>
      </li>
    </h3>
    <br><br>
    <div *ngIf="!peopleIsNull; else noPeople">
      <div *ngFor="let doc of doctors; let i = index" [class.active]="i == selectedDoctor">
        <div style="width: 95%">
          <div class="list-group-item list-item border-gradient text-capitalize" (click)="gotoDoctor(doc)">

            <div style="width: 61%; float:left">
              {{ doc.last_name }} {{ doc.first_name }} {{ doc.middle_name }}
            </div>
            <div style="width: 29%; float: right; word-break: normal">
              <div *ngIf="userRole=='ADMIN'"
                   style="word-wrap: anywhere">Роль:
                <label
                  style="text-transform: lowercase; ">{{ getRole(doc.role!) }} </label></div>
            </div>
          </div>
          <div class="remove-but" style="float: right;">
            <img (click)="open(doc.id, doc.last_name, doc.first_name, doc.middle_name, 'confirmation_modal')"
                 class="img-responsive" width="45px"
                 src="assets/images/remove.png">
          </div>
        </div>
      </div>
    </div>
    <ng-template #noPeople>
      <div style="padding-top: 20px" class="text-center">
        <h4><label> Пользователей нет. </label>
          <label> Нажмите на <img class="img-responsive" width="1.3%" src="assets/images/add.png"> в парвом верхнем
            углу, чтобы создать пользователя.
          </label></h4>
      </div>
    </ng-template>
  </div>
  <ng-template #patientsTemplate>
    <h3 style="text-align: center;">Список пациентов
      <li class="my-button add-but">
        <a routerLink="/create_patient/">
          <img class="img-responsive" width="50px" src="assets/images/add.png">
        </a>
      </li>
    </h3>
    <br><br>
    <div *ngIf="!peopleIsNull; else noPatients">
      <div *ngFor="let pat of patients; let i = index" [class.active]="i == selectedPatient">
        <div style="width: 95%">
          <div class="list-group-item text-capitalize list-item border-gradient" (click)="gotoPatient(pat)">
            <div style="width: 100%; float:left">
              {{ pat.last_name }} {{ pat.first_name }} {{ pat.middle_name }}
            </div>
          </div>
          <div class="remove-but">
            <img (click)="open(pat.id, pat.last_name, pat.first_name, pat.middle_name, 'confirmation_modal')"
                 class="img-responsive" width="45px"
                 src="assets/images/remove.png">
          </div>
        </div>
      </div>
    </div>
    <ng-template #noPatients>
      <div style="padding-top: 20px" class="text-center">
        <h4><label> Пациентов нет. </label>
          <label> Нажмите на <img class="img-responsive" width="1.3%" src="assets/images/add.png"> в парвом верхнем
            углу,
            чтобы создать пользователя.
          </label></h4>
      </div>
    </ng-template>
  </ng-template>
</div>
</body>

<jw-modal id="confirmation_modal">
  <label> Вы уверены, что хотите удалить из базы человека с именем "{{message}}"? </label>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-outline-danger mb-2 text-center"
      name="save"
      (click)="remove('message_modal', 'confirmation_modal')"
      style="width: 140px; "
    >
      Удалить
    </button>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('confirmation_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Отменить
    </button>
  </div>
</jw-modal>

<jw-modal id="message_modal">
  <div class="text-center">
    <label style="margin-top: 10px"> {{ message }} </label>
    <br>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('message_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Закрыть
    </button>
  </div>
</jw-modal>
