.navbar-pos {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

body {
  background-color: white;
}

.filedrop {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;

  min-height: 450px;
  height: 70%;
  border: 3px dotted #4bb3fa;
  border-radius: 30px;
  width: 90%;
}
