<head>
  <title>Пациент</title>
</head>
<div class="split left">
  <div class="pos">
    <h2 style="text-align: center">
      {{photo_title}}
      <img [src]="currentFile" style="max-width: 29%; display: block; margin: auto; top: 25%; position: fixed;">
    </h2>
  </div>
  <div>
    <button
      type="submit"
      name="show_all"
      class="btn btn-light text-center edit-button"
      (click)="get_photos_data('photos_info_modal')"
    >
      История снимков
    </button>
  </div>
</div>
<div class="split right">
  <div class="pos">
    <h4><b>{{ patient.last_name }} {{ patient.first_name}} {{ patient.middle_name}}</b></h4>
    <h6><b>Год рождения: </b> {{ patient.date_of_birth }}</h6>
    <h6><b>Контакты</b></h6>
    <h6>Телефон: {{ patient.phone }}</h6>
    <h6>Почта: {{ patient.email }}</h6>
    <h6>Лечащий
      врач: {{ patients_doctor.last_name }} {{ patients_doctor.first_name}} {{ patients_doctor.middle_name}} </h6>
    <div class="diagnosis">
      <h4> Диагноз: {{ photo.diagnosis }}</h4>
    </div>
  </div>
  <div>
    <a href="/edit_patient/{{ patient.id }}"
       type="submit"
       class="btn btn-info mb-2 text-center edit-button"
    >
      Редактировать
    </a>
  </div>
</div>

<jw-modal id="photos_info_modal">
  <label style="text-align: center; display: block; margin-bottom: 3%"> История фотографий </label>
  <div class="text-center">
    <div *ngIf="photos; else tmplt">
      <div *ngFor="let ph of photos;">
        <img [src]="ph.photo" style="max-width: 80%; display: block; margin: auto;">
        <div style="max-width: 80%; text-align: left; margin-left: auto; margin-right: auto; ">
          <label> Дата и время создания: {{ph.date}} </label> <br>
          <label> Диагноз: {{ph.diagnosis}} </label> <br>
        </div>
        <button
          class="btn btn-outline-danger" style="margin-bottom: 5%"
          (click)="openAnotherModal('photos_info_modal', 'confirmation_modal', ph.id)"
        >
          Удалить снимок
        </button> <br>
        <button style="float: top"
                type="submit"
                name="download_jpeg"
                class="btn btn-outline-secondary text-center"
                (click)="download(ph.id, 'image')"
        >
          Скачать .jpeg
        </button>
        <button style="margin-left: 10px"
                type="submit"
                name="download_dcm"
                class="btn btn-outline-primary text-center"
                (click)="download(ph.id, 'dicom')"
        >
          Скачать .dcm
        </button>
      </div>
      <hr>
    </div>
    <ng-template #tmplt>
      Снимков нет
    </ng-template>
  </div>
</jw-modal>

<jw-modal id="confirmation_modal">
  <label style="height: 100%;"> Вы уверены, что хотите удалить снимок? </label>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-outline-danger mb-2 text-center"
      name="save"
      (click)="remove('confirmation_modal');"
      style="width: 140px; "
    >
      Удалить
    </button>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('confirmation_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Отменить
    </button>
  </div>
</jw-modal>

<jw-modal id="message_modal">
  <div class="text-center">
    <label style="margin-top: 10px"> {{ message }} </label>
    <br>
    <button
      type="submit"
      class="btn btn-outline-info mb-2 text-center"
      name="save"
      (click)="closeModal('message_modal');"
      style="width: 140px; margin-left: 20px"
    >
      Закрыть
    </button>
  </div>
</jw-modal>
